.contact1 {
    background-color: powderblue;
    height: 500px;
    margin-top: 250px;
    margin-bottom: 80px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;


}

.contact1 img {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.form-check button {
    background-image: linear-gradient(45deg, rgb(150, 93, 93), teal);
    padding: 10px 20px;
    border-radius: 10px;

}

.call .call-icon {
    border-radius: 10px;
    box-shadow: -5px 4px 7px skyblue;
}
.facebook-icon{
    height:200px;
    align-items: center;
}
.socialLogo{
height:200px;
width: 200px;
border-radius:50%;
}
.socialLogo:hover{
    transform: scale(1.5);
    transition: transform .95s ease-in-out;
}
.buslogo{
    height:100px;
    width:100px;
}
.buslogo:hover{
    transform:scale(1.8);
    transition:transform .5s ease-out;
}