/* .card-div2{
    margin-left: 2.5rem;
    margin-right:1.5rem;
} */
.card-main{
    height:22rem;
}
.card-image-holder{
    height:3rem;
    margin-bottom:55px;

}
.card-image{
    height:90%;
   padding:1rem 1.5rem ;
   border-radius: 50%;
   /* background-color:rgb(196, 226, 166); */
   border-image: linear-gradient(to right, rgb(171, 175, 166));
}